@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-one: rgb(255, 220, 48);
	--color-two: rgb(97, 202, 255);
	--color-three: rgb(200, 118, 255);
	--home-color: rgb(255, 247, 234);
	--footer-color: rgb(246, 232, 255);
	--petsFilter-color: rgb(234, 234, 234);
}

.bg-color-one {
	background-color: var(--color-one);
}

.bg-color-two {
	background-color: var(--color-two);
}

.bg-color-three {
	background-color: var(--color-three);
}
